:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  width: 800px;
  height: 480px;
  border: 5px solid black;
}

button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
